
/* CSS pre-processing by {less}. http://lesscss.org/
***************************************************/

/* Variables
***************************************************/
@dark-blue: #1D60D8;
@middle-blue: #2771EF;
@blue: #318AF4;
@yellow-orange: #F6B940;
@yellow: #F8CE46;
@purple-1: #162160;
@purple-2: #223082;
@pink: #FF99CC;
@beige: #FAF4ED;
@white: #FFFFFF;

/* General syles
***************************************************/

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 100%;
  font-weight: normal;
  background-color: @beige;
}

p {
  font-size: 18px;
  line-height: 36px;
}

h1 {
  font-size: 68px;
  line-height: 1.2;
  font-weight: bold;
}

h2 {
  font-size: 44px;
  line-height: 1;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  line-height: 1.5;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.large-paragraph {
  font-size: 36px;
  line-height: 1.5;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  padding: 20px 120px;

  &__cta {
    float: right;
  }
}

.cta {
  background: @pink;
  height: 60px;
  border-radius: 255px;
  border: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  padding: 0 28px;
}

.banner {
  position: relative;

  &__content{
    position: absolute;
    top: 90px;
    left: 120px;
  }
}

#banner-blocks {
  color: @white;
}

.tile-row {
  display: flex;
  margin: 30px -18px 50px;
}

.tile {
  background-color: @white;
  padding: 20px;
  border-radius: 15px;
  margin: 0 18px;
  min-width: 150px;
  flex-grow: 1;
}

.section-split {
  &__left {
    float: left;

    img {
      display: block;
    }
  }

  &__right {
    margin-left: 50%;
    background-color: @white;
    padding: 120px;
  }
}

/* Break grid and stack blocks on small screens
***************************************************/

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
}


