
/* CSS pre-processing by {less}. http://lesscss.org/
***************************************************/



/* General syles
***************************************************/

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 100%;
  font-weight: normal;
  background-color: #FAF4ED;
}

.site-container {
  line-height: 1.6em;
  color:#101340;
  max-width: 1440px;
  margin: auto;
}

.site-header {
  padding: 20px 120px;
}

.cta {
  background: #f9c;
  height: 60px;
  border-radius: 255px;
  border: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  padding: 0 28px;
}

.nav-cta {
  float: right;
}

.banner {
  position: relative;
}

.banner-content {
  position: absolute;
  top: 90px;
  left: 120px;
}

#banner-header-blocks {
  font-weight: bold;
  font-size: 66px;
  line-height: 76px;
  color: white;
}

#banner-subtext-blocks {
  font-size: 24px;
  line-height: 36px;
  color: white;
}

.site-footer {
  font-size: 75%;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

/* Homepage
***************************************************/

body.homepage { }



/* Blog list
***************************************************/

body.collection-type-blog.view-list {

  .blog-list-item + .blog-list-item {
    margin-top: 3vw;
  }
}



/* Break grid and stack blocks on small screens
***************************************************/

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
}


