
/* CSS pre-processing by {less}. http://lesscss.org/
***************************************************/



/* General syles
***************************************************/

body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 100%;
  font-weight: normal;
  background-color: #FAF4ED;
}

.site-container {
  line-height: 1.6em;
  color:#101340;
  max-width: 1440px;
  margin: auto;

  h1, h2, h3 {
    font-weight: normal;
    line-height: 1.2em;
  }

  a {
    color: cornflowerblue;

    &.disabled {
      color: #ccc;
    }
  }
}

.site-header {
  padding: 20px;
}

.site-navigation { }

.site-navigation-list {
  padding: 0;
}

.site-navigation-item {
  display: inline-block;
  font-size: 87.5%;

  & + .site-navigation-item {
    margin-left: 1em;
  }

  a {
    color: #111;
    text-decoration: none;

    &:hover {
      color: #999;
    }
  }

  &.active-link > a {
    color: #999;
  }

}

.nav-cta {
  background: #f9c;
  float: right;
  height: 60px;
  border-radius: 255px;
  border: 0px;
}

.content-container { }

.site-footer {
  font-size: 75%;
  margin-top: 4vw;
  margin-bottom: 4vw;
}



/* Homepage
***************************************************/

body.homepage { }



/* Blog list
***************************************************/

body.collection-type-blog.view-list {

  .blog-list-item + .blog-list-item {
    margin-top: 3vw;
  }
}



/* Break grid and stack blocks on small screens
***************************************************/

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
}


